/*site-header*/

.navbar{background-color:#f3f3f3;border-top:5px solid var(--color-orange)}
.navbar .container-fluid{max-width:1366px}
.navbar-nav{text-transform:uppercase;font-size:15px;font-weight:500}

@media (max-width: 767px) {
.navbar-brand img {max-width:320px;max-width:calc(100vw - 90px)}
}

@media (max-width: 991px) {
body {padding-top:77px}
.navbar{position:fixed;top:0;right:0;left:0;z-index:1030;height: 77px;}

.offcanvas-collapse {
z-index:9999;
position:fixed;
top:77px;
bottom:0;
left:100%;
width:100%;
padding-right:1rem;
padding-left:1rem;
overflow-y:auto;
visibility:hidden;
background-color:#343a40;
transition:visibility .3s ease-in-out,-webkit-transform .3s ease-in-out;
transition:transform .3s ease-in-out,visibility .3s ease-in-out;
transition:transform .3s ease-in-out,visibility .3s ease-in-out,-webkit-transform .3s ease-in-out
}
.offcanvas-collapse.open {visibility:visible;-webkit-transform:translateX(-100%);transform:translateX(-100%)}

.navbar-collapse.open .nav-item {border-bottom:1px solid #555}
.navbar-light .open .navbar-nav .nav-link {color:#007bff}
.navbar-light .open .navbar-nav .active>.nav-link,
.navbar-light .open .navbar-nav .nav-link.active,
.navbar-light .open .navbar-nav .nav-link.show,
.navbar-light .open .navbar-nav .show>.nav-link {color:#fc0}
}


/*page-header*/
.page-header {
position:relative;
padding-top:10vw;
padding-bottom:10vw;
background-color:#333;
background-image:url(../images/page-header.jpg);
background-repeat:no-repeat;
background-size:cover
}

.page-header:after {
position:absolute;
z-index:1;
top:0;
bottom:0;
left:0;
right:0;
content:"";
display:block;
background-color:rgba(0,65,43,.5)
}
.page-header.home-header:after {display:none}

.page-header > * {position:relative;z-index:3}
.page-header .page-title {display:block;font-size:1.9em;font-weight:700;color:#000;margin:15px 0}
.page-header .page-subtitle {display:block;font-size:1.2em}
.page-header .page-title span, 
.page-header .page-subtitle span{
display:block;
padding:8px 10px;
margin:5px 0;
float:left;
clear:left;
background-color:var(--color-orange);
}
.page-header img {width:100%;margin:15px;border:4px solid #fff}

@media screen and (min-width:992px) {
.page-header{padding-top:0;padding-bottom:0}
.page-header,
.page-header .row{height:325px}
.page-header.home-header,
.page-header.home-header .row{height:500px}
.page-header .page-title{font-size:2.2em}
.page-header .page-subtitle{font-size:1.4em}
.page-header.home-header .page-title{font-size:3.2em}
.page-header .page-title span, 
.page-header .page-subtitle span{padding:10px 15px;}
}
